@use 'abstracts/tokens' as *;
@use 'abstracts/breakpoints' as *;
@use 'components/header';
@use 'components/hero';

// --- Global Base Styles --- \
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-family-main;
  background-color: $color-on-primary;
  color: $color-secondary;
  line-height: $line-height-normal;
  min-height: 100vh;
}
